{% extends "base.html" %}
{% block title %}Записи {{ author.get_full_name }}{% endblock %}
{% block header %}Профиль пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}

  <main role="main" class="container">
    <div class="row">
      {% include 'includes/post_author.html' %}
      <div class="col-md-9">
        {% for post in page %}
            {% include 'includes/post_item.html' %}
        {% endfor %}
        {% include 'includes/paginator.html' %}
      </div>
    </div>
  </main>

{% endblock %}
